[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = git@github.com:bcokert/hugo-future-imperfect.git
[submodule "public"]
	path = public
	url = git@github.com:bcokert/bcokert.github.io.git
